@charset "utf-8";
/* CSS Document */

  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
   h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  
   .container-fluid {
      padding: 60px 50px;
  }
  
   
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  
  .navbar
  {
	  margin-bottom: 0;
	  background-color:rgba(0,34,71,1.00) ;
	  border:0;
	  font-size:12px;
	  line-height:1.5;
	  letter-spacing:4px;
	  border-radius:0;
	  font-family:Montserrat, sans-serif;
  }
  
  #mainMenu li a, .navbar .navbar-brand 
  {
	  color:#fff;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: rgba(0,20,52,1.00);
      background-color: #fff;
  }
  .navbar-default .navbar-toggle
  {
	  border-color:transparent;
	  color:#fff;
  }
  
   .bg-grey {
      background-color: rgba(0,20,52,1.00) ;
  }
   .logo {
      color: rgba(0,20,52,1.00);
      font-size: 200px;
  }
  .logo-small {
      color: rgba(0,20,52,1.00);
      font-size: 50px;
  }
  .jumbotron {
      background-color: rgba(0,20,52,1.00);
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
   .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: rgba(0,20,52,1.00);
  }
  .carousel-indicators li {
      border-color: rgba(0,20,52,1.00);
  }
  .carousel-indicators li.active {
      background-color: rgba(0,20,52,1.00);
  }
  
   .panel {
      border: 1px solid rgba(0,20,52,1.00); 
      border-radius:0;
      transition: box-shadow 0.5s;
  }
  
   .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  
  #pricing .panel-heading
  {
	  background-color:rgba(0,20,52,1.00);
	  color: #fff;
	  padding: 25px;
	  border-bottom: 1px solid;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  
 #pricing .panel-footer .btn:hover {
      border: 1px solid rgba(0,20,52,1.00);
      background-color: #fff;
      color: rgba(0,20,52,1.00);
  }
  
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  
  .panel-footer .btn {
      margin: 15px 0;
      background-color: rgba(0,20,52,1.00);
      color: #fff;
  }
  
  /*.slideanim {visibility:hidden;}*/
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: rgba(0,20,52,1.00);
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  